.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

 .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: grey;
  font-size: 40px;

} 
.Scoreboard{
margin:20px;
border:5px solid white;
width: 200px;
height: 75px;
position: relative;
font-size: 50px;

}
.BadgeUser{
color: white;
position: absolute;
top: 20px;
left: -20px;
background-color: red;
font-size: 25px;
}
.BadgeComputer{
color: white;
position: absolute;
top: 20px;
right: -30px;
background-color: red;
font-size: 25px;
  }
.Options{
text-align: center;
}
.IndividualOption{
  border:3px solid white;
  display: inline-block;
  margin:20px 50px;
  border-radius: 50%;
  padding: 5px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
